<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

       <div class="about content">
        <h2>About Us</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatibus, ea, blanditiis dicta error dolorum, soluta quae corporis eaque dolor quia? Eligendi maxime incidunt, necessitatibus porro eum magnam totam. Cumque?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatibus, ea, blanditiis dicta error dolorum, soluta quae corporis eaque dolor quia? Eligendi maxime incidunt, necessitatibus porro eum magnam totam. Cumque?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatibus, ea, blanditiis dicta error dolorum, soluta quae corporis eaque dolor quia? Eligendi maxime incidunt, necessitatibus porro eum magnam totam. Cumque?</p>
       </div>
       <%- include('./partials/footer.ejs') %>
    </body>
</html>